name: "Publish"

on:
  merge:
      branches:
        - main

jobs:
  release:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name : checkout
        uses: actions/checkout@v2
      - name : node
        uses: actions/setup-node@v1
        with:
          node-version: 10
          registry-url: https://registry.npmjs.org
      - name: publish
        run: npm publish --access public
        working-directory: secondz
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}